    /* Set global styles for the body */
    body {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        line-height: 1;
        background-color:lightgrey;
    }

    /* Style for textarea elements */
    textarea {
        background: transparent;
        border: none;
        resize: none;
        color: #000000;
        border-left: 1px solid black;
        padding: 10px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    /* Style for the header section */
    header {
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
        background-color:#000000;
        color:whitesmoke;
        border-radius: 0;
        border-bottom: 10px solid black;
        padding: 5px;
    }

        /* Style for element with ID "currentDay" */
    #currentDay {
        font-size: 1.5em;
        margin-bottom: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    /* Style for input elements */
    input {
        width: 70%;
        margin-right: 10px;
        padding: 5px;
        border: 5px solid darkgray;
        border-radius: 3px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    /* Style for button elements */
    button {
        padding: 0px 10px;
        background-color: #ffffff;
        cursor:pointer;
        margin-top: 6px;
        border-left: 1px solid var(--BLACK);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        /* background-color: var(--BLUE); */
        /* color: var(--FONT-WHITE); */
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    /* Hover effect for button elements */
    button:hover {
        font-size: 20px;
        color:green;
        transition: all 0.3s ease-in-out;
    }

    /* Responsive styles for smaller screens */
    @media (min-width: 576px) {
    .input-container,
    .image-container {
        width: 100%;
    }
}